<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>adidas Originals NMD</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" >
    
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta content="320" name="MobileOptimized">
    <meta content="telephone=no" name="format-detection"> 
    <link rel="apple-touch-icon" href="">

    <!--<link rel="stylesheet" href="lib/ratchet/css/ratchet.css">-->
    <!--<link rel="stylesheet" href="lib/ratchet/css/ratchet-theme-ios.css">-->
    <link rel="stylesheet" href="stylesheets/place_order.css?v=3">
</head>
<body>


<div class="content">
    <header class="bar bar-nav">
    <h1 class="title">adidas Originals NMD</h1>
</header>
    <div class="images">
        <img src="images/1.jpg"/>
        <img src="images/2.jpg"/>
        <img src="images/20.jpg"/>
        <img src="images/3.jpg"/>
        <img src="images/4.jpg"/>
        <img src="images/5.jpg"/>
        <img src="images/6.jpg"/>
        <img src="images/7.jpg"/>
        <img src="images/8.jpg"/>
        <img src="images/9.jpg"/>
        <img src="images/10.jpg"/>
        <img src="images/11.jpg"/>
        <img src="images/12.jpg"/>
        <img src="images/13.jpg"/>
        <img src="images/14.jpg"/>
        <img src="images/15.jpg"/>
        <img src="images/16.jpg"/>
        <img src="images/17.jpg"/>
        <img src="images/19.jpg"/>
        <img src="images/21.jpg"/>
        <img src="images/18.png"/>
    </div>
    <section class="buy">
        <div class="row1">
            <strong>￥289</strong>
            <ol>
                <li><p>原价</p>￥1499</li>
                <li><p>折扣</p>2折</li>
                <li><p>节省</p>￥1210</li>
            </ol>
        </div>
        <div class="row2">
            <strong>2569人已购买</strong>
            <div class="djs"> 活动还剩2天</div>
        </div>
        <article class="des">支持货到付款（全国包邮）及任何形式的验货。支持无理由退换货，先验货后付款，满意了再下单！ 不是正品不要你一分钱，来回运费我们出！真正“0”风
            险购物！（备注：退换货由买家自行承担运费）
        </article>
        <a class="btn btn-negative" href="#buy">立即购买</a>
    </section>

    <article name="buy" id="buy">
        <h2>订单信息</h2>

        <form method="post" action="/" name="forma" id="qd-order" onsubmit="return CheckSubmit();">
            <script src="http://int.dpool.sina.com.cn/iplookup/iplookup.php?format=js"></script>
            <input type="hidden" name="ip" id="ip" value="北京北京">
            <script>
                var province = remote_ip_info.province;
                var city = remote_ip_info.city;
                document.getElementById("ip").value = province + city;
            </script>

            <input type="hidden" name="action" value="save">
            <input type="hidden" name="id" value="184">
            <script>
                var today = new Date();
                document.write("<input type='hidden' name='orderno' value='" + Date.now() + "'/>");
            </script>
            <input type="hidden" name="title" value="adidas Originals NMD">
            <div class="fieldcontain">
                <label for="username">收货人姓名<font color="red">*</font></label>
                <input type="text" name="username" id="username" value="" placeholder="请输入您的姓名或称呼" required="">
            </div>

            <div class="fieldcontain">
                <label for="mobile">收货人电话<font color="red">*</font></label>
                <input type="tel" name="mobile" id="mobile" value="" placeholder="请输入您的手机号码" required="">
            </div>

            <div class="fieldcontain">
                <label for="address">收货地址<font color="red">*</font></label>
                <input type="text" name="address" id="address" value="" placeholder="请填写详细地址,方便快递人员送货上门">
            </div>

            <div class="fieldcontain">
                <label for="count">商品数量<font color="red">*</font></label>
                <input type="number" name="count" id="count" value="" placeholder="">
            </div>

            <div class="fieldcontain">
                <label for="size">尺寸选择<font color="red">*</font></label><br />
                <input name="size" checked="checked" type="radio" value="36">&nbsp;36&nbsp;&nbsp;
                <input name="size" type="radio" value="37">&nbsp;37&nbsp;&nbsp;
                <input name="size" type="radio" value="38">&nbsp;38&nbsp;&nbsp;
                <input name="size" type="radio" value="39">&nbsp;39&nbsp;&nbsp;
                <input name="size" type="radio" value="40">&nbsp;40&nbsp;&nbsp;
                <input name="size" type="radio" value="41">&nbsp;41&nbsp;&nbsp;
                <input name="size" type="radio" value="42">&nbsp;42&nbsp;&nbsp;
                <input name="size" type="radio" value="43">&nbsp;43&nbsp;&nbsp;
                <input name="size" type="radio" value="44">&nbsp;44&nbsp;&nbsp;
            </div>

            <div class="fieldcontain">
                <label for="color">颜色选择<font color="red">*</font></label><br />
                <input name="color" checked="checked" type="radio" value="黑蓝红">&nbsp;黑蓝红&nbsp;&nbsp;
                <input name="color" type="radio" value="炭灰白">&nbsp;炭灰白&nbsp;&nbsp;
                <input name="color" type="radio" value="蜘蛛侠">&nbsp;蜘蛛侠&nbsp;&nbsp;
                <input name="color" type="radio" value="黑灰白">&nbsp;黑灰白&nbsp;&nbsp;
            </div>

            <div class="fieldcontain">
                <label for="textarea-a">您的留言<font color="red">*</font></label>
                <textarea name="gbook" id="textarea-a" rows="6" style="height:100px;"
                          placeholder="请填写具体订单颜、尺码及数量；仓库将在2天内为您发货，谢谢！"></textarea>
            </div>
            <div class="fieldcontain">
                <input type="submit" style="background:#F00; color:#FFF; border:none" value="提交订单">
            </div>
        </form>
        <div id="buy_list">
            
            <h4>最近购买</h4>
            <% for(var i=0; i <orders.length ; i++) {%>
                <div>
                    <%=orders[i].username%>（<%= orders[i].mobile.slice(0, 3) %>****<%= orders[i].mobile.slice(-3) %>）刚刚提交了一笔订单。
                </div>
            <% } %>
    
            <div> 刘*铭（157****719）刚刚提交了一笔订单。</div>
            <div> 彭 *成（189****097）刚刚提交了一笔订单。</div>
            <div>彭*或（189****097）刚刚提交了一笔订单。</div>
            <div>小*（159****839）刚刚提交了一笔订单。</div>
            <div>李*聘（137****521）刚刚提交了一笔订单。</div>
            <div>张*（151****397）刚刚提交了一笔订单。</div>
            <div>张*（151****397）刚刚提交了一笔订单。</div>
            <div>肖*（134****591）刚刚提交了一笔订单。</div>
            <div>小*（139****818）刚刚提交了一笔订单。</div>
            <div>胡*（152****270）刚刚提交了一笔订单。</div>
            <div>吴*（133****770）刚刚提交了一笔订单。</div>
            <div>姜*君（151****229）刚刚提交了一笔订单。</div>
            <div>陈*超（185****389）刚刚提交了一笔订单。</div>
            <div>丁*耀（153****623）刚刚提交了一笔订单。</div>
            <div>张*军（138****260）刚刚提交了一笔订单。</div>
            <div>赵*（153****777）刚刚提交了一笔订单。</div>
            <div>柯*（186****290）刚刚提交了一笔订单。</div>
            <div>杨*鹏（136****182）刚刚提交了一笔订单。</div>
        </div>
    </article>

<footer>
    <img src="images/foot.jpg">
</footer>

</div>
<nav class="bar bar-tab">
<a href="#buy" class="tab-item" target="_self">
    立即购买
</a>
</nav>


<script>
    function CheckSubmit() {
        if (document.forma.username.value == "") {
            document.forma.username.focus();
            alert("请输入您的中文姓名！");
            return false;
        }

        if (document.forma.username.value != "") {
            var namereg = /^[\u4e00-\u9fa5]{2,4}$/;
            var name = document.forma.username.value;
            if (!namereg.test(name)) {
                alert("您的姓名输入错误！姓名只允许2至4个汉字！");
                document.forma.username.focus();
                return false;
            }
        }

        if (document.forma.mobile.value == "") {
            document.forma.mobile.focus();
            alert("请填写您的手机号码！");
            return false;
        }

        if (document.forma.mobile.value != "") {
            var mobile = document.forma.mobile.value;
            var reg = /^0?(13[0-9]|15[012356789]|18[012356789]|14[57])[0-9]{8}$/;
            var my = false;
            if (reg.test(mobile))my = true;
            if (!my) {
                document.forma.mobile.value = '';
                alert('您输入的手机号码有误！');
                document.forma.mobile.focus();
                return false;
            }
        }

        if (document.forma.address.value == "") {
            document.forma.address.focus();
            alert("请输入您的收货地址！");
            return false;
        }

        if (document.forma.count.value == "") {
            document.forma.pay.focus();
            alert("请输入您要购买的商品数量！");
            return false;
        }

        if (document.forma.size.value == "") {
            document.forma.size.focus();
            alert("请选择您购买的款式！");
            return false;
        }
        if (document.forma.gbook.value == "") {
            document.forma.gbook.focus();
            alert("请输入留言信息！");
            return false;
        }

        return true;
    }
</script>

</body>
</html>
